* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(60, 0%, 47%);
}

h1.title {
    margin: 3rem;
    padding: 4rem;
    background-image: url(./assets/pokebola-removebg-preview.png);
    background-size: cover;
}

h4 {
    margin: 2rem;
}



.poke-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 2em;
    border-style: solid;
    border-radius: 15px;
    border-color: transparent;
    background-color: hsl(99, 22%, 69%);
    box-shadow: hsl(215, 32%, 27%) 0px 20px 30px -10px;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    max-height: 40px;
    width: 100%;
    background-color: white;
    color: black;
}

.socialMedia {
    position: absolute;
    right: 0;
    cursor: pointer;
    
}